NodeJs/crud/node_modules
NodeJs/libraryNode/node_modules

React/clase/intro-javascript/node_modules
React/clase/reactProjects/counter-app/node_modules
React/clase/reactProjects/gif-expert-app/node_modules
React/clase/reactProjects/my-giphy-app/node_modules